@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:  hsl(0, 0%, 98%);
}
header{
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
}
h1{
    font-weight: 200;
    margin: 0;
    color: hsl(234, 12%, 34%);
}
h1 span{
    font-weight: 600;
}
p{
    color: hsl(229, 6%, 66%);
    font-size: 15px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1440px;
}
.box{
    background-color: #fff;
    width: 350px;
    padding: 30px;
    margin: 15px;
    box-shadow:  0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.box::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    width: 100%;
}
.box-Red::after{
    background-color: hsl(0, 78%, 62%);
}
.box-Cyan::after{
    background-color: hsl(180, 62%, 55%);
}
.box-Orange::after{
    background-color: hsl(34, 97%, 64%);
}
.box-Blue::after{
    background-color: hsl(212, 86%, 64%);
}
.box-push{
    transform: translateY(50%);
}
.box h2{
    color: hsl(234, 12%, 34%);
    margin: 0;
}
.box p{
    margin: 15px 0 30px;
    font-size: 13px;
}
.box img{
    display: block;
    margin-left: auto;
}
@media (max-width: 375px){
    .box-push{
        transform: translateY(0);
    }
    h1{
        font-size: 21px;
    }
    p{
        font-size: 13px
    }
}